.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid rgb(193, 191, 191);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.left-section {

    display: flex;
    align-items: center;
}


.notification-count {
    background-color: rgb(204, 0, 0);
    color: white;
    font-family: Roboto, Arial;
    font-weight: 400;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    font-size: 11px;
    text-align: center;
    position: absolute;
    top: -2px;
    right: -4px;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}

.youtube-logo {
    height: 20px;
}

.youtube-logo:hover {
    cursor: pointer;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 36px;
    font-size: 16px;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.037);
    width: 0;
    min-width: 100px;

}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
    padding-left: 10px;
}

.search-button {
    height: 40px;
    width: 66px;
    border: 1px solid rgb(186, 186, 186);
    margin-left: -1px;
    margin-right: 15px;
    transition: background-color 0.15s;
    background-color: rgb(244, 244, 244);
}

.search-button,
.voice-search-button,
.upload-icon-div,
.youtube-app-div,
.notification-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button:hover {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-div .tooltip,
.youtube-app-div .tooltip,
.notification-div .tooltip {
    position: absolute;
    background-color: rgba(17, 17, 17, 0.557);
    color: white;
    padding: 6px 8px 6px 8px;
    border-radius: 2px;
    font-size: 12px;
    font-family: Roboto, Arial;
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
    bottom: -30px;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-div:hover .tooltip,
.youtube-app-div:hover .tooltip,
.notification-div:hover .tooltip {
    opacity: 1;
}

.search-icon {
    height: 25px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(244, 244, 244);
}

.voice-search-button:hover,
.upload-icon:hover,
.youtube-app-div:hover,
.notification-div:hover,
.current-user:hover {
    cursor: pointer;
}



.voice-search-icon,
.upload-icon,
.youtube-apps-icon,
.notifications-icon {
    height: 24px;
}

.right-section {
    margin-right: 20px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.current-user {
    height: 32px;
    border-radius: 16px;
}